<div class="container">
  <h2 class="text-center">Meios de Pagamento</h2>
    <div> 
      <% if admin_signed_in? %>
        <%= link_to 'Cadastrar novo meio de pagamento', new_payment_method_path,
                    class: "btn btn-primary"%>
        <%= link_to 'Vincular Empresas', new_admin_payment_company_path,
                    class: "btn btn-primary" %>
      <% end %>
    </div>
    <div>
      <% if current_client %>
        <%= link_to 'Configure seus Meios de Pagamento', new_payment_setting_path, class: 'btn btn-primary' %>
      <% end %>
    </div>

  <% if @payment_methods.any? %>
    <% @payment_methods.each do |payment| %>
      <div class="card" style="width: 20rem; margin-right: 2rem;">
        <div class="card-body">
          <h4 class="card-title text-center"><%= link_to payment.name, payment_method_path(payment)%></h4>
          <div> 
            <% payment.payment_companies.each do |company| %>
              <%= image_tag company.image, size: '100x80'%>
            <% end %>
          </div>
          <%= link_to 'Ver detalhes', payment_method_path(payment), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h2>Não há meios de pagamento cadastrados</h2>
  <% end %>
</div>