<h1>Meio de pagamento: <%= @payment_method.name%></h1>
<p>Taxa: <%= @payment_method.tax %>%</p>

<p><% @payment_companies.each do |company|%>
  <%= company.name %>
<% end %>
</p>
<% if admin_signed_in? %>
  <%= link_to 'Editar', edit_payment_method_path(@payment_method) %>
<% end %>

<%= link_to 'Voltar', :back %>