<div class="container">
  <h2 class="text-center"><%= @payment_method.name%></h2>
  <h4>Taxa: <%= @payment_method.tax %>%</h4>
  
  <h4>Bandeiras\Bancos\Serviços</h4>
  <% @payment_companies.each do |company|%>

    <div>
      <%= image_tag company.image, size:"100x80"%> <br>
      <%= company.name %>
    </div>
  <% end %>
  <% if admin_signed_in? %>
    <%= link_to 'Editar', edit_payment_method_path(@payment_method), 
                class: "btn btn-primary" %>
  <% end %>
  
  <%= link_to 'Voltar', :back, class: "btn btn-ssecondary" %>
</div>