<h1><%= "Configurações de #{@payment_setting.payment_method.name}" %></h1>

<div>
  <% @payment_setting.payment_method.payment_companies.each do |image| %>
  <%= image_tag(image.image, size: '25x25') %>
  <% end %>
</div>

<p><%= "Número de parcelas: #{@payment_setting.installments}x" %></p>
<p><%= "Juros: #{@payment_setting.interest_rate}%" %></p>
<p><%= "Desconto: #{@payment_setting.discount}%" %></p>


