<% if @client_profile.errors.any?%>
  <% @client_profile.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>

<h3><%= t('.title') %></h3>

<%= form_for @client_profile, url: admin_client_profile_path do |f| %>
  <%= f.label :cnpj %>
  <%= f.text_field :cnpj %>
  <%= f.label :company_name %>
  <%= f.text_field :company_name %>
  <%= f.label :manager %>
  <%= f.text_field :manager %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
  <%= f.submit t('.save') %>
<% end %>