<h1> Perfil do Cliente </h1>
<p> CNPJ: <%= @client_profile.cnpj%></p>
<p> Razão Social: <%= @client_profile.company_name %></p>
<p> Representante: <%= @client_profile.manager %></p>
<p> Endereço: <%= @client_profile.address %></p>
<p> Telefone: <%= @client_profile.phone %></p>
<p> Email: <%= @client_profile.email %></p>
