<%= render partial: 'shared/navbar' %>

<body class="landing-page sidebar-collapse">
<div class="wrapper">
  <div class="page-header page-header-small banner-business">
    <div class="page-header-image" data-parallax="true" data-background-color="black">
    </div>
    <div class="content-center">
      <div class="container">
        <h1 class="title">Equipe de pagamento</h1>
        <div class="text-center">
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-facebook-square"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#pablo" class="btn btn-primary btn-icon btn-round">
            <i class="fab fa-google-plus"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-about-us">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Quem somos nós?</h2>
          <h5 class="description">Somos um grupo de seis pessoas, que surgiu no TreinaDev, que é um programa de treinamento para desenvolvedores oferecido pela
           Campus Code, e estamos criando uma aplicação como projeto final. Nesse projeto criamos uma api que recebe e gerencia pagamentos.</h5>
        </div>
      </div>
      <div class="separator separator-primary"></div>
      <div class="section-story-overview">
        <div class="row">
          <div class="col-md-6">
            <div class="image-container image-left" style="background-image: url('')">
              <h4 class="text-center"><b>Confirmação de pagamento</b></h4>
              <%= image_tag('card4.png', class: "rouded-icon") %>
              <!-- First image on the left side -->
              <p class="blockquote blockquote-primary mt-5">"Eu acho que produtos excelentes devem mesclar dois pontos: o ponto de vista da tecnologia e o ponto de vista dos clientes. Você precisa dos dois."
                <br>
                <br>
                <small>-Steve Jobs</small>
              </p>
            </div>
            <!-- Second image on the left side of the article -->
            <div class="image-container" style="background-image: url('')">
              <h4 class="text-center"><b>Facilidade para consumir a api</b></h4>
              <%= image_tag('card-json.png', class: "rouded-icon") %>
            </div>
          </div>
          <div class="col-md-5">
            <!-- First image on the right side, above the article -->
            <div class="image-container image-right mt-5" style="background-image: url('')">
              <h4 class="text-center"><b>Tratativas</b>
                <p><%= image_tag('card3.png', class: "rouded-icon") %></p>
                <p><%= image_tag('card3.png', class: "rouded-icon") %></p>
                <p><%= image_tag('card3.png', class: "rouded-icon") %></p>
              </h4>
            </div>
            <h3 class="text-center">O que oferecemos</h3>
            <p>Oferecemos uma API que retorna de todos os meios de pagamentos escolhidos e configurados pelo cliente.</p>
            <p>Para o cliente ver como funciona, ofecemos uma simulação de pagamento.</p>
            <p>Facilidade para implementar o nosso gateway</p>
            <p>Suporte de uma equipe altamente capacitada</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-team text-center">
    <div class="container">
      <h2 class="title"> Nosso time</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <img src="./app/assets/images/mastercard.png" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Larissa</h4>
              <p class="category text-primary">Desenvolvedora</p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-instagram"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-facebook-square"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="../assets/img/ryan.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Gustavo</h4>
              <p class="category text-primary">Desenvolvedor</p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Mariana</h4>
              <p class="category text-primary">Desenvolvedora</p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Rubens</h4>
              <p class="category text-primary">Desenvolvedor</p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Kelly</h4>
              <p class="category text-primary">Desenvolvedora</p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="team-player">
              <img src="../assets/img/eva.jpg" alt="Thumbnail Image" class="rounded-circle img-fluid img-raised">
              <h4 class="title">Bruno</h4>
              <p class="category text-primary">Desenvolvedora</p>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-youtube"></i></a>
              <a href="#pablo" class="btn btn-primary btn-icon btn-round"><i class="fab fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer footer-default">
    <div class=" container ">
      <nav>
        <ul>
          <li>
            <a href="https://www.creative-tim.com">
              Creative Tim
            </a>
          </li>
          <li>
            <a href="http://presentation.creative-tim.com">
              About Us
            </a>
          </li>
          <li>
            <a href="http://blog.creative-tim.com">
              Blog
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright" id="copyright">
        ©
        <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>, Designed by
        <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by
        <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
      </div>
    </div>
  </footer>
</div>
</body>
