<div class="container">
  <% if @client_profile.errors.full_messages.any? %>
    <ul>
      <% @client_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <h3 class="text-center">Editar meu perfil</h3>

  <%= form_for @client_profile, url: client_client_profile_path(@client_profile) do |f| %>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control col-3" %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control col-3" %>
    </div>

    <div class="form-group">
      <%= f.label :manager %>
      <%= f.text_field :manager, class: "form-control col-3" %>
    </div>

    <%= f.submit 'Salvar', class: 'btn btn-primary' %>
  <% end %>
</div>
