<!DOCTYPE html>
<html>
  <head>
    <title>QsdSales</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <br>
    <br>
    <br>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%=key %>" role="alert"> <%= value %></div>
    <% end %>
    <%= yield %>
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"> <%= value %></div>
    <% end %>

  </body>
</html>
